@import "mods-settings";

main {
    margin: 4.25rem auto 4rem;
    width: min(calc(var(--container-width) + 256px), 95%);
}

.crt {
    pre, code {
        line-height: 1.325;
        font-size: $crt-font-size;
        font-family: $crt-font-family, 'Lucida Console', 'Monospace', monospace;
    }

    pre a {
        color: inherit;
        font: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
