{% extends "page.html" %}

{% block content %}
<h1>
{%- if page.title -%}
    {{ page.title }}
{%- elif lang == "ru" -%}
    Нет перевода
{%- elif lang == "cn" -%}
    没有翻译
{%- else -%}
    No translation
{%- endif -%}
</h1>
{%- include "partials/statements.html" -%}
{%- if page.extra.toc and not page.extra.toc_sidebar -%}
{%- include "partials/toc.html" -%}
{%- endif -%}

<blockquote class="tip">
	<p class="alert-title">
		<i class="icon"></i>Tip</p>
	<p>
	{%- if lang == "ru" -%}
	    Ожидали эту страницу по-русски?.. Увы. <a href="{{ get_url(path=current_path, lang="en") }}">Переключите на английский</a> и используйте переводчик.
	{%- elif lang == "cn" -%}
	    {# | replace is a dirty hack, but it does not work without... #}
	    你希望这一页是中文的吗？.. 请<a href="{{ get_url(path=current_path, lang="ru") | replace(from="en/", to="") }}">切换到俄语</a>并使用翻译。
	{%- else -%}
	    {# | replace is again a dirty hack... #}
	    Expected this page in English?.. Sorry. <a href="{{ get_url(path=current_path, lang="ru") | replace(from="en/", to="") }}">Switch to Russian one</a> and use some translator please.
	{%- endif -%}
	</p>
</blockquote>

{% endblock content %}
